<!DOCTYPE html>
<html>
<head>
  <title>Cschool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!--  jQuery 1.7+  -->
  <script src="assets/jquery-1.9.1.min.js"></script>

  <!-- Include js plugin -->
  <script src="assets/owl.carousel.js"></script>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
